# Dependencies
node_modules/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Coverage directory
coverage/

# Operating System
.DS_Store

# ESLint
.eslintcache

logs/
